body {
	padding-top: 60px;
}

.jumbotron {
	padding: 2rem 2rem;
}

.hidden {
	display: none;
}
.custom-control {
	margin-right: 0;
}

.custom-control-indicator {
	background-color: #fff;
}

#searchProviderList > div {
	margin-bottom: 0.4rem;
}

#searchProviderList .sp-selected label {
	margin-right: 0;
}

#searchProviderList .sp-icon img {
	max-width: 24px;
	cursor: pointer;
}

#searchProviderList .sp-name {
	text-align: center;
	background-color: #e9ecef;
	cursor: pointer;
}

#searchProviderList .sp-name.sp-edit {
	background-color: #fff;
	cursor: initial;
}

#searchProviderList .sp-url,
#searchProviderList .sp-status {
	display: none;
}

#searchProviderList .sp-status,
#searchProviderList .sp-remove {
	cursor: pointer;
}

#searchProviderList .sp-edit + .sp-url,
#searchProviderList .sp-edit ~ .sp-status {
	display: flex;
}

#searchProviderList .sp-edit:valid + .sp-url:valid + .sp-status .text-danger,
#searchProviderList .sp-edit:invalid ~ .sp-status .text-success,
#searchProviderList .sp-url:invalid + .sp-status .text-success {
	display: none;
}
